@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

html {
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(50, 50, 50);
}

body {
  font-family: "Amatic SC", cursive;
}

img {
  max-width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
}

a,
button {
  color: inherit;
  touch-action: manipulation;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

p {
  line-height: 1rem;
  padding: 1rem 0;
  font-size: 1.1rem;
}
