.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 14rem 6rem;
  min-height: 100vh;
  background-color: rgb(211, 240, 251);
}

@media screen and (max-width: 488px) {
  .main {
    padding: 12rem 2rem;
  }
}
