.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  min-height: 100vh;
  background-color: rgba(98, 151, 155, 0.247);
}

.header {
  font-size: 4rem;
  padding: 4rem;
}
